@font-face {
    font-family: mySecondFont;
    src: url('../img/Quicksand-Bold.ttf');
}
@font-face {
    font-family: myThreeFont;
    src: url('../img/Quicksand-SemiBold.ttf');
}
.content-title{
    margin-top: 0;
    margin-bottom: 7px;
    word-wrap: break-word;
    font-size: 31px;
    line-height: 40px;
    width: 80%;
    text-align: left;
    color: #111111;
    font-weight: 400;
    margin: 6px 0 6px 0;
    font-family: mySecondFont;
}
.share{
    display: flex;
}
.share-item{
    background-color: #dddddd;
    width: 50px;
    border-radius: 3px;
    margin: 8px;
    padding: 8px;
    cursor: pointer;
}
.share-item:hover{
    background-color: #b8b4b4;
}
.share-item img {
    width: 100%;
    height: 100%;
}
.infor-new{
    color: rgb(102, 100, 100);
    font-size: 14px;
    margin-left: 1rem;
}
.block-content{
    width: 90%;
    font-style: inherit;
    font-weight: inherit;
    font-family: myThreeFont;
    color: #111111;
    margin: 5px 0;
}
.block-content ul{
    font-size: 14px;
    margin-left: 15px;
}
.block-content ul li{
    display: flex;
    align-items: center;
    
}
.block-content ul li svg{
    font-size: 20px;
    color: orange;
    width: 3rem;
    margin-top: 10px;
}
.block-content ul li span{
    flex: 1;
}

.standar-content .block-img{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 3rem;
}
.standar-content .block-img img{
    width: 100%;
}
.infor-img{
    text-align: center;
    font-size: 14px;
    margin-top: 2px;
    width: 100%;
    display: block;
    font-style: italic;
}

.form-commnet textarea{
    resize: none;
    width: 70%;
    min-height: 150px;
}
.form-commnet input{
    width: 70%;
}
.commented-item{
    box-shadow: inset 0 0 3px #cbcbcb;
    padding: 15px;
    margin: 20px 0;
}
.item-name{
    font-family: mySecondFont;
    font-style: italic;
    font-size: 20px;
}
.item-content{
    width: 70%;
    margin-bottom: 0;
    font-size: 14px;
}
.commented-item .item-votes{
    font-size: 14px;
}
.item-like p{
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.item-like .like{
    border:  2px solid #1d69f8;
    color: #1d69f8;
    padding: 2px 8px;
    width: 8rem;
    border-radius: 3px;
    cursor: pointer;
}
.item-like .like a{
    color: #1d69f8;
}
.item-like .like:hover, .item-like .like:hover a{
    background-color: #1d69f8;
    color: #fff;
}




.item-like .dislike{
    border: 2px solid #e02605;
    color: #e02605;
    cursor: pointer;
    padding: 2px 8px;
    width: 8rem;
    border-radius: 3px;
}
.item-like .dislike a{
    color: #e02605;
}
.item-like .dislike:hover, .item-like .dislike:hover a{
    background-color: #e02605;
    color: #fff;
}

.text-mota{
    color: #141414;
    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
}
.main-web {
    background: white !important;
    padding: 5px;
}
.standar-title a {
    color: #710202 !important;
}